{% extends "layout.html.twig" %}

{% block title %}
    My treasures | Geocaching Tool
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        #content {
            margin-left: 210px;
            padding: 25px;
        }
        #cache-cards-group .card .image, .ui.medium.image {
            height: 240px;
            background-size: cover;
            background-position: 50% 50%;
        }
        #welcome-segment {
            font-size: 16px;
        }
    </style>
{% endblock %}

{% block content %}
    {# Include left menu #}
    {% include 'menu.html.twig' with {'active_item': 'my-treasures'} %}

    {# Content #}
    <div id="content">
        {% if caches %}
            {# Treasure cards group#}
            <div id="cache-cards-group" class="ui link cards">
                {% for cache in caches %}
                <div class="cache card" data-hash="{{ cache.hash }}">
                    <div class="image" style="background-image: url({{ asset('files/images/') }}{{ cache.hash }})">
                    </div>
                    <div class="content">
                        <div class="header">{{ cache.title }}</div>
                        <div class="description">
                            {{ cache.message }}
                        </div>
                    </div>
                    <div class="extra content">
                        <span class="right floated">{{ cache.creation_time_ago }}</span>
                        <span>
                            <i class="eye icon"></i> {{ cache.views_count }}
                        </span>
                    </div>
                    <div class="extra content">
                        <div class="ui left icon input">
                            <i class="linkify icon"></i>
                            <input class="short-url-input" type="text" placeholder="Short URL" readonly="readonly" value="{{ cache.short_url }}">
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            {# Cache modals #}
            {% for cache in caches %}
                <div class="ui small modal" id="modal-{{ cache.hash }}">
                    <i class="close icon"></i>
                    <div class="header">
                        Treasure details
                    </div>
                    <div class="image content">
                        <div class="ui medium image" style="background-image: url({{ asset('files/images/') }}{{ cache.hash }})">
                        </div>
                        <div class="description">
                            <p><strong>Author:</strong> {% if cache.author %}{{ cache.author }}{% else %}--{% endif %}</p>
                            <p><strong>Title:</strong> {{ cache.title }}</p>
                            <p><strong>Message:</strong> {{ cache.message }}</p>
                            <p><strong>Clue:</strong> {% if cache.clue %}{{ cache.clue }}{% else %}--{% endif %}</p>
                            <p><strong>Published:</strong> {{ cache.creation_time_ago }}</p>
                            <p><strong>Views:</strong> {{ cache.views_count }}</p>
                            <div class="ui small labeled input">
                                <div class="ui label">
                                    Short URL
                                </div>
                                <input class="short-url-input" type="text" placeholder="Short URL" readonly="readonly" value="{{ cache.short_url }}">
                            </div>
                        </div>
                    </div>
                    <div class="actions">
                        <a href="{{ path('delete cache', {'hash': cache.hash}) }}" class="left floated ui negative button">Delete</a>
                        <a class="ui positive right labeled icon button" target="_blank" href="{{ path('cache', {'hash': cache.hash}) }}?preview">
                            Preview
                            <i class="eye icon"></i>
                        </a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div id="welcome-segment" class="ui basic segment">
                <h1 class="ui header">
                    <div class="content">
                        Welcome
                    </div>
                </h1>
                <p>This tool helps you easily create caches(treasures) for your Bluetooth beacons.</p>
                <ol class="ui list">
                    <li>Create a treasure</li>
                    <li>Get a short URL</li>
                    <li>Point your beacon to that URL</li>
                </ol>
                <a class="ui primary button" href="{{ app.url_generator.generate('new cache') }}">
                    Create first treasure
                </a>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascript%}
    <script>
        $(document).ready(function() {
            $('.short-url-input').on('click', function () {
                $(this).select();
            });
            $('.cache.card .short-url-input').on('click', function () {
                return false;
            });
            $('.cache.card').on('click', function () {
                var hash = $(this).attr('data-hash');
                {# Show modal of this cache #}
                $('#modal-' + hash)
                    .modal({
                        onApprove: function () {
                            return false
                        },
                        onDeny: function () {
                            return false
                        }
                    })
                    .modal('setting', 'autofocus', false)
                    .modal('setting', 'duration', 350)
                    .modal('show');
            });
        });
    </script>
{% endblock %}
